@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <a asp-action="Index" asp-controller="Cashiers" class="btn btn-primary">Cashier Index</a>
        <a asp-action="Index" asp-controller="InvoiceDetails" class="btn btn-secondary">Invoice Details Index</a>
    </div>

</div>
